 /* For mobile phones: */
 @media only screen and (max-width: 767px){


    .nav{
        display:flex;
        flex-wrap:wrap;
        width: 100%;
        height: 200px;
        float: left;
        border-bottom: 3px solid #61B229;
        transition: color 1s ease;
        -moz-transition: color 1s ease;
        -webkit-transition: color 1s ease;
        
    }
    .nav ul li{
        
        
        margin: 10px 0 0 0;
        justify-content: center;
        
        
    }
    .halfContainer{
        display: flex;
    justify-content: center;}
  
    .left-div {
      flex-basis: 100%;
      height: auto;
      margin:10px 5% 10px 5%;
      height: auto;
     
      
  }
  .right-div {
   
      
    flex-basis: 100%;
      height: auto;
      margin:10px 5% 10px 5%;
      line-height: 10px;
    
  }
  .right-div2 {
 
   
    flex: 1;
    height: auto;
    margin:10px 5% 10px 5%;
    line-height: 0px;
  
  }

  .logo{
    width:180px;
    margin: 240px 0 0 0;
  }
  .img{
    margin: 240px 10px 10px 210px;

}
.h3{
    font-size: 23px;
    line-height: 25px;
    font-weight: bold;
}

.paragraph{
    font-size: 16px;
   }

   .li{
  
    font-size: 15px;}
   }
  